cd @import url('https://fonts.googleapis.com/css?family=Lato');

* {
    font-family: 'Raleway', sans-serif;
}

body,
    .html {
    background: #222222;
}

.header {
    color: #66ffff;
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
    font-weight: bold;
}

.content {
    background: #f2f2f2;
    padding: 2rem 0;
    margin: 2rem auto;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    width: 80%;
}

.sub-header {
    text-align: center;
    font-size: 1.5rem;
    color: #000000;
    font-weight: bold;

}

.line {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.label {
    display: block;
    position: relative;
    font-weight: 900;
    font-size: 1.35rem;
    padding: 5px 5px 5px 8px;
    margin: 10px auto;
    height: 20px;
    z-index: 5;
    cursor: pointer;
}

.input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background-color: #66ffff;
    color: black;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.filelabel {
    font-size: 1rem;
    position: relative;
    top: 2rem;
    display: inline;
    cursor: pointer;
    background: #66ffff;
    color: Black;
    padding: 0.25rem 1rem 0.5rem;
    border-radius: 1rem;
}

.filelabel:hover,.filelabel:focus {
    background: #e35424;
}

.upload {
    font-weight: 900;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    display: block;
    color: black;
    cursor: pointer;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background: #f2f2f2;
    border: #66ffff solid 0.3rem;
}

.upload:hover {
    color: #ff0000;
    background: white;
}

.instruct {
    background: #bfbfbf;
    padding: 2rem 0;
    margin: 2rem auto;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    width: 80%;
}

.sub-sub-header {
    text-align: center;
    font-size: 1.2rem;
    color: #000000;

}


.button {
    position: fixed;
}

.text {
    size: 1rem;
}

.fifth-head {
    font-size: 1.5rem;
}