<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Main</title>
  </head>
  <style>
body {
  background-color: grey;
}

h1 {
  color: orange;
  text-align: center;
}

h2 {
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
  <body>
  	<h1><center>Graph Maker </center></h1>

    <h2> Submit the following details to begin! </h2>

    <form action="/" method="POST" enctype="multipart/form-data">

      <p>Title Of Graph: <input type="text" name="title"/></p>
      <p>X-Axis Label: <input type="text" name="x_axis"/></p>
      <p>Y-Axis Label: <input type="text" name="y_axis"/></p>
      <p>Axises only have Integers? Y or N?: <input type="text" name = "Eznum"/> </p>
      <p>Graph linear regression line with the data set (1) ? OR connect data points with line (2) ? OR scatter plot only (3): <input type="text" name = "lreg"/></p>

      <p>Choose the file: <input type="file" name="file"/></p>
      <BR>
      <input type="submit" value="upload"/>
    </form>


  </body>
</html>